<header class="d-flex bd-highlight align-items-center p-3 px-md-4 bg-body border-bottom shadow-sm">
  <p class="h5 mr-auto bd-highlight my-0 me-md-auto fw-normal">
    <a class="p-1 text-decoration-none">
      Frontend
    </a>
    <a class="p-1 text-decoration-none">
      Backend
    </a>
  </p>

  <ng-container *ngIf="!user">
    <a class="btn btn-outline-primary" href="#" routerLink="/login">Login</a>
  </ng-container>
  <ng-container *ngIf="user">

    <nav class="bd-highlight my-2 my-md-0 me-md-3">
      <a class="p-2 mr-3 btn btn btn-outline-primary" href="#" (click)="logout()">Sair</a>
    </nav>

    <span class="bd-highlight">{{ user.first_name }} {{ user.last_name }}</span>
  </ng-container>
</header>
