<header class="align-items-center p-3 px-md-4 bg-body border-bottom shadow-sm">
  <div class="h5 mr-auto bd-highlight my-0 me-md-auto fw-normal row">
    <div class="col-lg-5 col-md-12 mt-3">
      Graficos:
      <a *ngIf="user" routerLink="/graphs/servicos" class="p-1 text-decoration-none">
        Servicos
      </a>
      |
      <a *ngIf="user" routerLink="/graphs/notas" class="p-1 text-decoration-none">
        Notas
      </a>
      |
      <a *ngIf="user" routerLink="/graphs/chapas" class="p-1 text-decoration-none">
        Chapas
      </a>
    </div>

    <div class="col-lg-5 col-md-12 mt-3">
      Notas:
      <a *ngIf="user" routerLink="/graphs/servicos" class="p-1 text-decoration-none">
        Concluir notas
      </a>
    </div>

    <div class="col-lg-2 col-md-12 mt-3 text-right">
      <ng-container *ngIf="!user">
        <a class="btn btn-outline-primary" href="#" routerLink="/login">Login</a>
      </ng-container>
      <ng-container *ngIf="user">

        <a class="p-2 mr-3 btn btn-outline-primary" href="#" (click)="logout()">Sair</a>

        <span class="bd-highlight">{{ user.first_name }} {{ user.last_name }}</span>
      </ng-container>
    </div>
  </div>
</header>
