<form [formGroup]="form" class="" (submit)="submit()">
    <h1>Nota</h1>

    <mat-form-field class="example-chip-list col-6" appearance="fill">
      <mat-label>Servicos</mat-label>
      <mat-chip-list #chipList aria-label="Selecionar servico">
        <mat-chip
          *ngFor="let servico of servicos"
          (removed)="remove(servico)">
          {{servico.nome}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Novo servico..."
          #servicoInput
          [formControl]="servicoCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let servico of filteredServicos | async" [value]="servico">
          {{servico.nome}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="mb-3">
        <mat-form-field appearance="standard" class="col-6">
            <mat-label>Desconto</mat-label>
            <input formControlName="desconto" matInput placeholder="Obs">
        </mat-form-field>
    </div>

    <div class="mb-3">
        <mat-form-field appearance="standard" class="col-6">
            <mat-label>Obs</mat-label>
            <input formControlName="obs" matInput placeholder="Obs">
        </mat-form-field>
    </div>


    <button class="btn btn-primary mt-3" type="submit">Salvar</button>
  </form>
