<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <!-- <li class="nav-item">
        <a routerLink="users" routerLinkActive="active" class="nav-link">
          <span data-feather="home"></span>
          Usuarios
        </a>
      </li> -->
      <li class="nav-item">
        <a routerLink="chapas" routerLinkActive="active" class="nav-link">
          <span data-feather="home"></span>
          Chapas
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="clientes" routerLinkActive="active" class="nav-link">
          <span data-feather="home"></span>
          Clientes
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="servicos" routerLinkActive="active" class="nav-link">
          <span data-feather="home"></span>
          Servicos
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="notas" routerLinkActive="active" class="nav-link">
          <span data-feather="home"></span>
          Notas
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="estoque" routerLinkActive="active" class="nav-link">
          <span data-feather="home"></span>
          Estoque
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="estoque/entrada" routerLinkActive="active" class="nav-link pl-5">
          <span data-feather="home"></span>
          Entradas
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="estoque/saida" routerLinkActive="active" class="nav-link pl-5">
          <span data-feather="home"></span>
          Saidas
        </a>
      </li>
    </ul>
  </div>
</nav>
