<!DOCTYPE html>
<html>
 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Nota de Entrega Invista</title>
<style type="text/css">

body{
margin:0;
}

#corpo {
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-top:10px;
}

#topo_esq {
    width: 60%;
    height:150px;
    border: 1px solid #ccc;
    float:left;

}
#topo_dir {
    width: 20%;
    border: 1px solid #ccc;
    height:150px;
}
#fundo1{
    width: 800px;
    margin: 0 auto 0 auto;
}

#fundo2{
    width: 800px;
    margin: 150px auto 0 auto;
}

img{
    float:left;
    margin-top:40px;
    width: 20%
}
#titulo {
  font-weight: bold;
}

</style>
</head>

<body>
<div id="fundo1">

    <img  height="100" src="https://tbrindes.s3-sa-east-1.amazonaws.com/Captura+de+Tela+2019-10-21+às+22.50.44.png" alt="Invista Publicidade Grafica e Editora" />
    <br/>

    <table id="topo_esq">
        <tr>
        <td align="center" colspan="3">
            <p>Invista Publicidade, Eventos e Editora Gráfica LTDA.<br>
                Rua doutor Area Leão, 735 - Centro Norte<br>
                Telefone para contato: (86) 3221-0215
                <br>
                Whatsapp: (86) 99436-7255
                <br>
                CEP: 64000-310- Teresina Piauí
                <br>
                CNPJ: 07.251.676/0001-05

            </p>
        </td>
    </tr>

    </table>

    <table id="topo_dir">
        <tr>
        <td align="center" colspan="4">
            <p>Nota de Entrega:<br> {{ nota.numero }} </p>

            <p>
                Data: <br>{{day}} / {{month}} / {{year}}
            </p>
        </td>
    </tr>

    </table>

    <table id="corpo">
      <tr>
          <td align="center" colspan="6"><h4>Informações do cliente</h4> <hr></td>
      </tr>
      <tr>
          <td colspan="2" >Nome: {{ cliente.nome }} </td>
          <td colspan="2" >Telefone: {{ cliente.telefone }} </td>
          <td colspan="2" >Cidade: {{ cliente.cidade }}</td>
      </tr>
      <tr>
          <td colspan="2" >Endereço: {{ cliente.rua }} - {{ cliente.numero }} </td>
          <td colspan="2" >Bairro: {{ cliente.bairro }} </td>
          <td colspan="2" >Estado: {{ cliente.estado }} </td>
      </tr>


      <tr>
      <td align="center" colspan="6"><hr><h4>Descrição do Pedido</h4> <hr></td>

      </tr>

      <tr id="titulo">
          <td>Serviço</td>
          <td>Chapa</td>
          <td>Quantidade</td>
          <td>V. unitario</td>
          <!-- <td> {% if desconto > 0 %} Desconto {% endif %}</td> -->
          <td>V. Total</td>
      </tr>

      <tr *ngFor="let item of nota.servico" >
          <td>{{ item.nome }} </td>
          <td>{{ item.chapa.nome }} </td>
          <td>{{  item.quantidade }} </td>
          <td> R$ {{ item.chapa.valor }} </td>
          <!-- <td>{% if desconto > 0 %} R$ {{ item.desconto }} {% endif %} </td> -->
          <td> R$ {{ item.valor_total_servico }} </td>
      </tr>

      <tr><td></td></tr>
      <tr><td></td></tr>
      <tr><td></td></tr>
      <tr><td></td></tr>

      <tr id="titulo">
          <td></td>
          <td></td>
          <td></td>
          <td>Total da Nota</td>
          <td> R$ {{ nota.valor_total_nota }}</td>
      </tr>

    </table>
    <div id="assinatura">
        <p style="width:33%; float:left;" align="center">____________________________<br>Recebido por</p>
        <p style="width:33%; float:left;" align="center">____________________________<br>Autorizado por</p>
        <p style="width:23%; float:left;" align="center">___________________________<br>Visto por</p>
    </div>
</div>

<div id="fundo2">

  <img  height="100" src="https://tbrindes.s3-sa-east-1.amazonaws.com/Captura+de+Tela+2019-10-21+às+22.50.44.png" alt="Invista Publicidade Grafica e Editora" />
  <br/>

  <table id="topo_esq">
      <tr>
      <td align="center" colspan="3">
          <p>Invista Publicidade, Eventos e Editora Gráfica LTDA.<br>
              Rua doutor Area Leão, 735 - Centro Norte<br>
              Telefone para contato: (86) 3221-0215
              <br>
              Whatsapp: (86) 99436-7255
              <br>
              CEP: 64000-310- Teresina Piauí
              <br>
              CNPJ: 07.251.676/0001-05

          </p>
      </td>
  </tr>

  </table>

  <table id="topo_dir">
      <tr>
      <td align="center" colspan="4">
          <p>Nota de Entrega:<br> {{ nota.numero }} </p>

          <p>
              Data: <br>{{day}} / {{month}} / {{year}}
          </p>
      </td>
  </tr>

  </table>

  <table id="corpo">
    <tr>
        <td align="center" colspan="6"><h4>Informações do cliente</h4> <hr></td>
    </tr>
    <tr>
        <td colspan="2" >Nome: {{ cliente.nome }} </td>
        <td colspan="2" >Telefone: {{ cliente.telefone }} </td>
        <td colspan="2" >Cidade: {{ cliente.cidade }}</td>
    </tr>
    <tr>
        <td colspan="2" >Endereço: {{ cliente.rua }} - {{ cliente.numero }} </td>
        <td colspan="2" >Bairro: {{ cliente.bairro }} </td>
        <td colspan="2" >Estado: {{ cliente.estado }} </td>
    </tr>


    <tr>
    <td align="center" colspan="6"><hr><h4>Descrição do Pedido</h4> <hr></td>

    </tr>

    <tr id="titulo">
        <td>Serviço</td>
        <td>Chapa</td>
        <td>Quantidade</td>
        <td>V. unitario</td>
        <!-- <td> {% if desconto > 0 %} Desconto {% endif %}</td> -->
        <td>V. Total</td>
    </tr>

    <tr *ngFor="let item of nota.servico" >
        <td>{{ item.nome }} </td>
        <td>{{ item.chapa.nome }} </td>
        <td>{{  item.quantidade }} </td>
        <td> R$ {{ item.chapa.valor }} </td>
        <!-- <td>{% if desconto > 0 %} R$ {{ item.desconto }} {% endif %} </td> -->
        <td> R$ {{ item.valor_total_servico }} </td>
    </tr>

    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>

    <tr id="titulo">
        <td></td>
        <td></td>
        <td></td>
        <td>Total da Nota</td>
        <td> R$ {{ nota.valor_total_nota }}</td>
    </tr>

  </table>
  <div id="assinatura">
      <p style="width:33%; float:left;" align="center">____________________________<br>Recebido por</p>
      <p style="width:33%; float:left;" align="center">____________________________<br>Autorizado por</p>
      <p style="width:23%; float:left;" align="center">___________________________<br>Visto por</p>
  </div>
</div>

</body>
</html>
